<div class="container">
  <div *ngIf="show[0]" class="divSolve" @fade>
    <div class="topSolve">
        <button class="btn btn-info" (click)="showText()">
          <i class="fas fa-scroll"></i>
        </button>
        <button class="btn btn-success ml-1" (click)="showImage()">
          <i class="far fa-images"></i>
        </button>
    </div>
    <div class="midSolve">
        <p *ngIf="show[1]">{{enigma.text}}</p>
        <img *ngIf="show[2]" src="../../assets/img/owl.jpg" alt="imagem de perfil">
        <form *ngIf="show[3]">
          <input type="text" formControlName="titulo">
          <textarea formControlName="texto" cols="30" rows="10">
          </textarea>
        </form>
      </div>
    <div class="botSolve" >
      <input type="text" id="solve">
      <button class="btn btn-success ml-2" (click)="enigmaSolve()" title="enviar">
        <i class="fas fa-paper-plane"></i>
      </button>
    </div>
  </div>
  <!-- DIV LISTA DE ENIGMAS -->
  <div class="divList">
    <div class="buttons">
      <button class="btn btn-info" (click)="enigmaEdit()">
        <i class="far fa-edit"></i>
      </button>
      <button class="btn btn-success ml-1" (click)="enigmaCreate()">
        <i class="fas fa-plus"></i>
      </button>
      <input class="ml-1" type="text" id="search">
      <button class="btn btn-warning ml-1" (click)="enigmaSearch()" title="procurar">
        <i class="fas fa-search ml-1 search"></i>
      </button>
    </div>
    <div class="listEnigmas">
      <div *ngFor="let e of enigmas" class="itemList" (click)="enigmaClick(e.key)">
        <img class="profileImg" src="../../assets/img/profile.png" alt="imagem de perfil"  @fade>
        <p class="title" @fade>{{e.title}}</p>
      </div>
    </div>
  </div>
</div>